@import '../../../variables.scss';
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    h1 {
        margin: 0;
        font-size: 28px;
        color: $orange;
        span {
            color: $blue;
        }
    }
    .burger {
        display: none;
    }
    .profile {
        display: flex;
        //border: 1px solid black;
        .text-elements {
            display: flex;
            flex-direction: column;
            .login {
                font-size: 14px;
            }
            .exit-button {
                background: none;
                border: none;
                align-self: flex-end;
                font-size: 12px;
                color: $gray;
                justify-self: flex-end;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.navigation {
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        li {
            a {
                color: $blue;
            }
            a:hover {
                color: $orange;
            }
        }
        li:not(:first-of-type) {
            margin-left: 20px;
        }
    }
}

.login-button {
    border: none;
    font-size: 18px;
    border-radius: 4px;
    padding: 5px 20px;
    background-color: $blue;
    color: #fff;
}

.lobin-button:hover {
    background-color: $orange;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 950px) {
    .header {
        height: 70px;
        padding: 10px 20px;
        .navigation,
        .login-button,
        .profile {
            display: none;
        }
        .burger {
            display: block;
        }
    }
    .mobile-menu {
        display: block;
        position: fixed;
        z-index: 1;
        top: 70px;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-align: center;
        padding-bottom: 10px;
        .navigation {
            display: block;
            ul {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                li {
                    font-size: 19px;
                    margin: 0 0 10px 0;
                }
            }
        }
        .lobin-button {
            display: block;
            width: 100px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 15px;
        }
        .login {
            font-size: 19px;
        }
        .exit-button {
            background: none;
            border: none;
            font-size: 19px;
            color: $blue;
            margin: 0;
            padding: 0;
        }
    }
}