@import '../../variables.scss';
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    h1 {
        margin: 0;
        font-size: 28px;
        color: $orange;
        span {
            color: $blue;
        }
    }
    .burger {
        display: none;
    }
}

.navigation {
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        li {
            a {
                color: $blue;
            }
            a:hover {
                color: $orange;
            }
        }
        li:not(:first-of-type) {
            margin-left: 20px;
        }
    }
}

.login {
    border: none;
    font-size: 18px;
    border-radius: 4px;
    padding: 5px 20px;
    background-color: $blue;
    color: #fff;
}

.login:hover {
    background-color: $orange;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 950px) {
    .header {
        height: 70px;
        padding: 10px 20px;
        .navigation,
        .login {
            display: none;
        }
        .burger {
            display: block;
        }
    }
    .mobile-menu {
        display: block;
        position: fixed;
        z-index: 1;
        top: 70px;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        .navigation {
            display: block;
            ul {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                li {
                    font-size: 19px;
                    margin: 0 0 10px 0;
                }
            }
        }
        .login {
            display: block;
            width: 100px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 15px;
        }
    }
}