.content {
    @media screen and (max-width: 950px) {
        h2 {
            padding-left: 20px;
        }
    }
    .table-wrapper {
        overflow-x: auto;
        .table {
            border-collapse: collapse;
            margin: 0 auto;
            thead {
                font-size: 20px;
                font-weight: bold;
            }
            tbody {
                font-size: 18px;
                tr:nth-child(odd) {
                    background-color: rgb(219, 219, 219);
                }
            }
            td {
                padding: 15px;
            }
        }
    }
}